
@font-face {
  font-family: 'PerfectDOSVGA437Win';
  src: url('PerfectDOSVGA437Win.eot?#iefix') format('embedded-opentype'),  url('PerfectDOSVGA437Win.woff') format('woff'), url('PerfectDOSVGA437Win.ttf')  format('truetype'), url('PerfectDOSVGA437Win.svg#PerfectDOSVGA437Win') format('svg');
  font-weight: normal;
  font-style: normal;
}
